h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
  }
  
  a {
    display: block;
    width: 15rem;
    padding: 1rem;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    background-color: black;
    color: white;
  }
  