body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-left: 25px;
}

.collection-list {
  display:flex;
  
  
}

.collection-item {
  flex: 1;
  position: relative;
  overflow: hidden;
  margin-right: 30px;
  
  
}

.collection-item img {
  width: 100%;
  height: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(141, 144, 146, 0.7);
  
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.collection-item:hover .overlay {
  opacity: 1;
  
}

.overlay h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  
}
h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size:xx-large;
  font-weight: bold;
}
h2{
color: black;

}
a{
color:black;
}



.hover-overlay .btn-browse {
    visibility: hidden;
    opacity: 0;
}
.inner-overlay-div .btn-browse {
    margin-top: 20px;
    opacity: 0;
}
.btn-browse {
    border: 1px solid;
    background: #fff;
    color: #000;
    border-radius: 5px;
    padding: 7px 20px;
    font-size: 13px;
    display: inline-block;
    margin-top: 35px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
a {
    color: inherit;
    -webkit-text-decoration-skip: objects;
}
a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
a {
    background-color: transparent;
}
a {
    -webkit-transition: color 0.26s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: color 0.26s cubic-bezier(0.25, 0.8, 0.25, 1);
}
a, .si-btn, body:not(.wp-customizer) input[type=submit], .site-main .woocommerce #respond input#submit, .site-main .woocommerce a.button, .site-main .woocommerce button.button, .site-main .woocommerce input.button, .woocommerce ul.products li.product .added_to_cart, .woocommerce ul.products li.product .button, .woocommerce div.product form.cart .button, .woocommerce #review_form #respond .form-submit input, #infinite-handle span, .sinatra-social-nav > ul > li > a, #sinatra-topbar .si-topbar-widget:not(.si-topbar-widget__text) a, .si-header-widgets a:not(.si-btn), .si-hover-slider .slide-inner h3 a, .si-hover-slider .slide-inner .read-more, .sinatra-logo a, .sinatra-nav > ul > li > a, .sinatra-nav .sub-menu li a, .sinatra-nav .children li a, .si-breadcrumbs a, #sinatra-copyright .si-copyright-widget:not(.si-copyright-widget__text) a, #si-scroll-top, .navigation .nav-links .page-numbers, .page-links a, .site-content .page-links a, .post_format-post-format-quote .si-blog-entry-content .entry-content a, .entry-meta a, #main .entry-header .entry-title a, .tagcloud a, .single .post-tags a {
    text-decoration: none;
}
a {
    text-decoration: none !important;
}
a, a:hover, a:focus {
    color: #222;
    text-decoration: none;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
a {
    color: inherit;
    -webkit-text-decoration-skip: objects;
}
a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
a {
    background-color: transparent;
}
a {
    transition: color .26s cubic-bezier(.25,.8,.25,1);
}
#infinite-handle span, #main .entry-header .entry-title a, #si-scroll-top, #sinatra-copyright .si-copyright-widget:not(.si-copyright-widget__text) a, #sinatra-topbar .si-topbar-widget:not(.si-topbar-widget__text) a, .entry-meta a, .navigation .nav-links .page-numbers, .page-links a, .post_format-post-format-quote .si-blog-entry-content .entry-content a, .si-breadcrumbs a, .si-btn, .si-header-widgets a:not(.si-btn), .si-hover-slider .slide-inner .read-more, .si-hover-slider .slide-inner h3 a, .sinatra-logo a, .sinatra-nav .children li a, .sinatra-nav .sub-menu li a, .sinatra-nav>ul>li>a, .sinatra-social-nav>ul>li>a, .single .post-tags a, .site-content .page-links a, .site-main .woocommerce #respond input#submit, .site-main .woocommerce a.button, .site-main .woocommerce button.button, .site-main .woocommerce input.button, .tagcloud a, .woocommerce #review_form #respond .form-submit input, .woocommerce div.product form.cart .button, .woocommerce ul.products li.product .added_to_cart, .woocommerce ul.products li.product .button, a, body:not(.wp-customizer) input[type=submit] {
    text-decoration: none;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
*, :after, :before {
    box-sizing: inherit;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}