<!--<div class="collection-list">
    <div class="collection-item">
      <img src="assets/images/img1.jpg" alt="Girl Paintings">
      <div class="overlay">
        <h2>Girl Paintings</h2>
      </div>      
    </div>
    <div class="collection-item">
      <img src="../../assets/img10.jpg" alt="">
      <div class="inner-overlay-div">
        <a href="https://rhythmartgallery.com/product-category/paintings/?swoof=1&amp;pa_style=abstract" style="display:block; z-index: 2;position: relative; float: left; width: 100%; height: 100%;">
        <h4>Abstract</h4>
        </a>
        <a href="https://rhythmartgallery.com/product-category/paintings/?swoof=1&amp;pa_style=abstract" 
        class="btn-browse">Explore</a>
        </div>
    </div>
    <div class="collection-item">
      <img src="assets/images3/img39.jpg" alt="Photography">
      <div class="overlay">
        <h2>Water Colour Paintings</h2>
      </div>
    </div>
    <div class="collection-item">
      <img src="assets/images1/img14.jpg" alt="Prints">
      <div class="overlay">
        <h2>Animal Paintings</h2>
      </div>
    </div>
  </div>-->




  <div class="collection-list">
    <div class="collection-item">
      <img src="assets/images/img1.jpg" alt="Girl Paintings">
      <div class="overlay">
        <h2>Girl Paintings</h2>
      </div>      
    </div>
    <div class="collection-item">
      <img src="../../assets/img10.jpg" alt="">
      <div class="inner-overlay-div">
        <a href="https://rhythmartgallery.com/product-category/paintings/?swoof=1&amp;pa_style=abstract" style="display:block; z-index: 2;position: relative; float: left; width: 100%; height: 100%;">
        <h4>Abstract</h4>
        </a>
        <a href="https://rhythmartgallery.com/product-category/paintings/?swoof=1&amp;pa_style=abstract" 
        class="btn-browse">Explore</a>
        </div>
    </div>
    <div class="collection-item">
      <img src="assets/images3/img39.jpg" alt="Photography">
      <div class="overlay">
        <h2>Water Colour Paintings</h2>
      </div>
    </div>
    <div class="collection-item">
      <img src="assets/images1/img14.jpg" alt="Prints">
      <div class="overlay">
        <h2>Animal Paintings</h2>
      </div>
    </div>
  </div>