.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    text-align: center;
    height:450px;
  }
  
  .card-img-top {
    height: 300px;
    object-fit: cover;
    width: 350px;
    position: relative;
  
  
  }
  
  .card-title {
    margin-top: 16px;
    margin-right: 20px;
  }
  .card-content {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  
  }
  
  .left-column {
    flex: 1;
    text-align: left;
  }
  
  .right-column {
  
    text-align: center;
  }
  
  h2 {
    font-size: 1.5rem;
    margin: 0 0 1rem;
  }
  
  h6 {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
  }
  .container{
    margin-bottom: 10px;
    
  }
  