
<div class="header-logo text-center">
  <a NavbarBrand href="/homepage">
    <img src="../../assets/logo2.jpg.jpeg" alt="" width="280" height="80" >
    
  </a>
</div>

 <nav class="navbar navbar-expand-lg navbar-light ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent"style="margin-right:450px;">
  <ul class="navbar-nav mr-auto" style=" margin-left:378px;">
    <li class="nav-item">
      <a class="nav-link" routerLink="homepage">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="paintings">Paintings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="galleryservices">latest notes info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="writeforus">Guidelines</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="aboutus">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf=" admin()||artist() " routerLink="upload">upload</a>
    </li>
    <li class="nav-item">
      
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" routerLink="login">Login</a> -->
      <a class="nav-link" *ngIf="!user() && !admin()&&!artist()" routerLink="login" >Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="user()|| admin()||artist() " (click)="logout()" href="#sectionDelivery"
      >Logout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="!user() && !admin()&&!artist()" routerLink="register">Register</a>
    </li>
  </ul>
</div>
<form class="d-flex">
  <a class="nav-link" routerLink="addtocart"><i class="fa-solid fa-cart-shopping"></i></a>
  </form>
</nav>

<br>
<br>
<br>
