
.d-flex{
  margin-right: 80px;

  font-size: larger;
}

/* .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    z-index: 1000; 
	margin-top: 80px;
  }
  .card {
    position: relative; 
    z-index: 1; 
  } */
  

  
  .header-logo {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: white;
    }
    
    .navbar {
    position: fixed;
    top: 80px; /* adjust this value to match the height of your logo */
    z-index: 1;
    background-color: white;
    }