.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  
  }
  
  .card:hover {
    box-shadow: 0 0 30px rgba(22, 19, 19, 0.3);
  
  }
  
  .card-img-top {
  
    width: 310px;
    height: 280px;
  
  
  }
  
  .card-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }