<!--<h3 align="center"><u> Artists </u></h3>

<div class="container">
    <div class="row" >
        <div class="col-md-3" *ngFor="let artist of artist">
            <div class="card" >
                <img class="card-img-top rounded circle" [src]="artist.imagePath" alt="Card image">
            </div>
            <h4 align ="center"class="card-title"> {{artist.name}} </h4>
           <br>
        </div>
    </div>
</div>-->

<div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let artist of artist">
        <div class="card" >
          <div class="text-center">
            <img class="card-img-top rounded-circle" [src]="artist.imagePath" alt="Card image">
            <h4 class="card-title">{{ artist.firstName }}</h4>
            
          </div>
        </div>
      </div>
    </div>
  </div>