<div class="container">
  <div class="row" >
    <div class="col-md-4" *ngFor="let gallery of gallery"><br>
      <div class="card" >
        <img class="card-img-top" [src]="gallery.imagePath" alt="Painting Image">
        <br>
        <div class="content">
          <div class="card-content">
              <div class="left-column">
                <h6>{{gallery.name}}</h6>
                <h6>{{gallery.description}}</h6>
                <h6>{{gallery.size}}</h6>
              </div>
              <div class="right-column">
                <h5>{{gallery.price}}</h5>
                <button type="button" class="btn btn-primary">Add to Cart</button>
              </div>
            </div>

            
          
        </div>
  
      </div>
    </div>
  </div>
  </div>