body{
    padding-top:50px;
    padding-left: 200px;
    padding-right: 200px;
    background-color:bisque;

}
img{
    padding-top: 50px;
}
p{
    font-size: 1.2rem;
}
li{
    font-size: 1.2rem;
}
h1{
    font-size: 4rem;
}