<body>
    <p><img src="assets/writeforus.jpg" alt="Smiley face" style="float:right;width:500px;height:400px;margin-left: 40px;">
    <h1>GUIDELINES</h1><br>
    <h6>UPGRADE YOUR ACCOUNT AND BECOME A “CREATIVE CONTRIBUTOR”</h6><br>
    <p>
        Evergreen arts is a thriving community of artists, art enthusiasts, and creative professionals 
        who are passionate about all things art.<br> 
        We are always looking for fresh artists, 
        and we welcome guest contributions from  artists.
If you’re interested in submitting a guest post for Evergreen arts, 
we’d love to hear from you! Here are some guidelines to keep in mind:</p>
<br>

<h5>What We're Looking For:</h5>
<br>
<p>We are interested in original, high-quality content related to the art world.<!-- This could include, but is not limited to:</p><br>
<li>Artist profiles</li>-->
<br>
    <p>
So if you’re an artist and you have images ,upload them!</p><br>
<h5> Guidelines:</h5><br>
<p>To submit a guest post for Evergreen arts, please upload the art.
You must have an account with us, you can register for free</p>  
<li>Any relevant images (JPEG format) that you would like to include</li><br>
<p>Once we receive your submission, our  team will review it and get back to you. 
If we decide to publish your post, we will work with you to make any necessary edits and ensure that the final product
 is polished and ready for our customers. 
 The art work will be published in your name.<br>
 <li>It is mentioned that a 15% commission fee will be deducted from the total payment they receive for their artwork, 
in exchange for the platform and services provided by Evergreen Arts. It's important to be transparent
 and upfront about this fee so that there are no misunderstandings or surprises for the artists later on.</li>
<br>
Thank you for your interest in contributing to Evergreen Arts! We look forward to hearing from you.</p>
<br>
</body>