<div class="collection-list">
    <div class="registration-form">
      <h2>Register Artist Account</h2>
      <form #regForm="ngForm" (ngSubmit)="registerArtist(regForm.value)" novalidate>
      <div class="form-group">
        <label for="first-name">First name</label>
        <input type="text" class="form-control" id="firstName" ngModel name="firstName" #fn="ngModel" required>
        <div class="pop" *ngIf="fn.errors?.['required'] && fn.touched">Please enter firstName</div>
      </div>
      <div class="form-group">
        <label for="last-name">Last name</label>
        <input type="text" class="form-control" id="lastName" ngModel name="lastName" #ln="ngModel" required>
        <div class="pop" *ngIf="ln.errors?.['required'] && ln.touched">Please enter LastName</div>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" ngModel name="email" #email="ngModel" required>
        <div class="pop" *ngIf="email.errors?.['required'] && email.touched">Please enter email</div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-container">
          <input type="password" class="form-control" id="password" ngModel name="password" #pass="ngModel" required>
          <i class="fas fa-eye-slash toggle-password"></i>
        </div>  
        <div class="pop" *ngIf="pass.errors?.['required'] && pass.touched">Please enter password</div>
      </div>
      <!-- <div class="form-group">
        <label for="confirm-password">Confirm password</label>  
        <input type="password" class="form-control" id="confirmPassword" ngModel name="confirmPassword" #cpass="ngModel" required>
        <div class="pop" *ngIf="cpass.errors?.['required'] && cpass.touched">Please confirm Password</div>
      </div> -->
      <button type="submit" class="btn btn-secondary" [disabled]="regForm.invalid">Register</button>
         <a routerLink="/login"><p class="sub_title_5">Already have a account? Login</p></a>
      </form>
    </div>    
    </div>
