
<div class="carousel-size">
  <carousel>
    <div class="carousel-image" >
      <slide>
        <img src="../../assets/image1.JPG" alt="Slide 1"  height="600" >
      </slide>
      <slide>
        <img src="../../assets/image2.jpg" alt="Slide 2" height="600">
      </slide>
    <slide>
      <img src="../../assets/image3.jpg" alt="Slide 3" height="600" >
    </slide>
    <slide>
      <img src="../../assets/image4.jpg.crdownload" alt="Slide 4" height="600">
    </slide>
    <slide>
      <img src="../../assets/img3.jpeg" alt="Slide 5" height="600" width="1500">
    </slide>
    <slide>
      <img src="../../assets/loginimg.jpg" alt="Slide 6" height="600" width="1500">
    </slide>
    <!--<slide>
      <img src="../../assets/img16.jpg" alt="Slide 7"  height="600" width="1500" >
    </slide>-->
    <slide>
      <img src="../../assets/img9.jpg" alt="Slide 8" height="600" width="1500">
    </slide>
 
    </div>
  </carousel>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<body>
	<div class="section">
			
      <img src="assets/santhosh/img2.jpg" alt="Art Gallery" style="width:100%;height:480px;padding-bottom: 20px;object-fit: cover;">
      
		<div class="text-container">
			<h1>Old Currency</h1>
			<p>Since 2023</p>
			<p>With your continued support and art patronage we hope to make available handpicked Indian talent from across the country exclusively for you.</p>
			<p>With a fresh rebranded look, our gallery's vision is to encourage young Indian artists as well as to ensure that you as a collector get the best of Indian Art to enjoy in your personal spaces.</p>
			<ul>
				<li> SELECTED EXCLUSIVE ARTIST</li>
				<li> ARTWORKS AVAILABLE</li>
			</ul>
		</div>
	</div>
</body>



<br>
<br>
<br>
<br>

<body>
  <section class="collection">
      <h1 class="title">Explore By Collection</h1>
      <br>
      
      <div class="collection-list">
          <div class="collection-item">
            <img src="assets/akash/img3.jpg" alt="BlackandWhite">
            <div class="overlay">
              <h2 routerLink="/akash">Black and White</h2>
            </div>      
          </div>
          <div class="collection-item">
            <img src="assets/img14.jpg"  alt="">
            <div class="overlay">
              <h2 routerLink="/modernart">Modern Art</h2>
            </div>
          </div>
          <div class="collection-item">
            <img src="assets/santhosh/img3.jpg" alt="Photography">
            <div class="overlay">
              <h2 routerLink="/santhosh">Landscape Paintings</h2>
            </div>
          </div>
          <div class="collection-item">
            <img src="assets/village/img4.jpg" alt="Prints">
            <div class="overlay">
              <h2 routerLink="/village">Village Paintings</h2>
            </div>
          </div>
        </div>
        <br>
        <br>
  </section>
  </body>



