/* .carousel {
    position: relative;
    width: 100%;
    height: 300px;
  }
  
  .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .slide img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    color: black;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
.carousel {
  position: relative;
  width: 100%;
  height: 300px;
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
   */


   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-left: 25px;
  }
  
  .collection-list {
    display:flex;
    
    
  }
  
  .collection-item {
    flex: 1;
    position: relative;
    overflow: hidden;
    margin-right: 30px;
    
    
  }
  
  .collection-item img {
    width: 100%;
    height: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(141, 144, 146, 0.7);
    
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .collection-item:hover .overlay {
    opacity: 1;
    
  }
  
  .overlay h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    
  }
 h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight: bold;
  }
h2{
  color: black;
  
}
a{
  color:black;
}

.carousel-size{
  height: 400px;
}

.carousel-size{
  margin-left: 30px;
  margin-right: 30px;
  object-fit: cover;
  
}




 * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.section {
	display: flex;
  justify-content: space-between;
	

}

.image-container {
	
  height:500px;
  width:50%;
  
	overflow: hidden;
}

section-img {
	width: 100%;

  padding-bottom: 20px;
	object-fit: cover;
}

.text-container {

	padding-left: 80px;
  padding-right: 50px;
  padding-top: 30px;
  width:100%;
  
}

.text-container h1 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
  text-align: center;
}

.text-container p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.text-container ul {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}

.text-container li {
	font-size: 18px;
	margin-bottom: 10px;
	text-align: center;
	border: 1px solid #ccc;
	padding: 10px;
}

