.login{
  margin-top: 120px;
  max-width: 450px;
  width: 600px;
  height: 400px;
  padding: 40px ;
  color: black;
  border-radius: 50px;
  margin-left: 550px;
  text-align:center; 
  display: inline-block;
  border: 1px solid black;
  background-color: whitesmoke;
}
.login button{
  width: 180px;
  border-radius: 40px;
  margin-bottom: 10px;
  background-color:blue;
}

.back{
  background-image: url(../../assets/IMAGE10.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  box-shadow: 10px;
}
.sub_title_5 {
 text-align: center; 
  font-size: 15px;
  color: #070707;
  padding-top: 9px;
}

