<div class="back">
  <div class="login">
  <form class="container" #loginForm = "ngForm" (ngSubmit)="submitLogin(loginForm.value)" novalidate >
      <div class="form-group">
        <label for="exampleInputEmail1"><b>Email address</b></label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name ="login" ngModel required #login = "ngModel" minlength="2" maxlength="50">
        <div class="text-danger"> 
          <div *ngIf="login.errors?.['required'] && login.touched"> login id is mandatory </div>
    <div *ngIf="login.errors?.['minlength'] && login.touched"> enter minimum 2 charcters </div>
          </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"><b>Password</b></label>
        <input type="password" class="form-control" id="exampleInputPassword1" name ="password" ngModel required #password = "ngModel" minlength="2" maxlength="500">
        <div class="text-danger">
          <div *ngIf="password.errors?.['required'] && password.touched">password is mandatory</div>
    <div *ngIf="password.errors?.['minlength'] && password.touched">enter minimum 8 charcters</div>
    </div>
        <small id="passwordHelpInline" class="text-muted">
          Must be 8-20 characters long.
        </small>
      </div>
    <button [disabled]="loginForm.invalid"  class="btn" >Submit</button>
    <a routerLink="/register"><p class="sub_title_5">Don't have an account? Register</p></a>
    </form>   
  </div>
  </div>
