.card img{
    height:300px;
    width:300px;
  }
  .card {
  
    border: 1px solid #aea8a8;
  
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    pointer-events: none;
    border-radius: 15px;
    padding-bottom: 10px;
  }