<h3 align="center"><u> List of cards </u></h3>

<div class="container">
    <div class="row md-1" style="margin-top: 4px;">
        <div class="col-md-3" *ngFor="let watercolor of watercolor">
            <div class="card" style="width:280px;height:95%;">
                <img class="card-img-top" [src]="watercolor.imagePath" alt="Card image" >
                
                  <h5 align="center">Price: ₹{{watercolor.price}}</h5>
                  <p align="center">
                    <button type="button" class="btn btn-primary">Add to Cart</button>
                  </p>  
            </div>
        </div>
    </div>
</div>