<body>
	<div class="container">
		<h1>Terms and Conditions</h1>
		<hr>
		<h2>Ownership</h2>
		<p>The content of the website, including images and text, belongs to the gallery and is protected by copyright laws.</p>
		<h2>Use of the website</h2>
		<p>The website is intended for personal, non-commercial use only. Any unauthorized use of the website, including the reproduction or distribution of content, is strictly prohibited.</p>
		<h2>Accuracy of information</h2>
		<p>The gallery makes every effort to ensure that the information on the website is accurate and up-to-date, but cannot guarantee its accuracy.</p>
		<h2>Sales</h2>
		<p>The website may feature artwork available for sale. Prices are subject to change without notice, and all sales are final.</p>
		<h2>Shipping and handling</h2>
		<p>The gallery will make every effort to ensure that artwork is shipped in a timely and secure manner, but is not responsible for any damage that occurs during shipping.</p>
		<h2>Returns</h2>
		<p>The gallery does not accept returns unless the artwork is damaged during shipping. In such cases, the buyer should contact the gallery within 48 hours of receiving the artwork to arrange for a return.</p>
		<h2>Privacy</h2>
		<p>The gallery respects the privacy of its website visitors and will not share any personal information with third parties without the visitor's consent.</p>
		<h2>Links to third-party sites</h2>
		<p>The gallery is not responsible for the content of any third-party sites linked to from the website.</p>
		<h2>Changes to the terms and conditions</h2>
		<p>The gallery reserves the right to change these terms and conditions at any time, without prior notice.</p>
	</div>
</body>