.upload-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"], select, input[type="number"] {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
  
  button[type="submit"] {
    display: block
  }
  
  