<body>
    <div class="upload-form">
      <h2>Upload Artwork</h2>
      <form #regForm="ngForm" (ngSubmit)="uploadForm(regForm.value)" novalidate>
        <div class="form-group">
          <label for="artist-name">Artist name</label>
          <input type="text" class="form-control" id="artistName" ngModel name="artistName" #an="ngModel" required>
          <div class="pop" *ngIf="an.errors?.['required'] && an.touched">Please enter artist name</div>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" ngModel name="email" #email="ngModel" required>
          <div class="pop" *ngIf="email.errors?.['required'] && email.touched">Please enter email</div>
        </div>
        <div class="form-group">
          <label for="art-type">Art type</label>
          <select class="form-control" id="artType" ngModel name="artType" #at="ngModel" required>
            <option value="">Select art type</option>
            <option value="Black and White">Black and White</option>
            <option value="Landscape">Landscape</option>
            <option value="Village">Village</option>
            <option value="Modern art">Modern art</option>
            <option value="Floral">Floral</option>
            <option value="Others">Others</option>
          </select>
          <div class="pop" *ngIf="at.errors?.['required'] && at.touched">Please select art type</div>
        </div>
        <div class="form-group">
          <label for="dimensions">Dimensions</label>
          <input type="text" class="form-control" id="dimensions" ngModel name="dimensions" #dim="ngModel" required>
          <div class="pop" *ngIf="dim.errors?.['required'] && dim.touched">Please enter dimensions</div>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" class="form-control" id="price" ngModel name="price" #pr="ngModel" required>
          <div class="pop" *ngIf="pr.errors?.['required'] && pr.touched">Please enter price</div>
        </div>
        <div class="form-group">
          <label for="image-path">Image path</label>
          <input type="text" class="form-control" id="imagePath" ngModel name="imagePath" #ip="ngModel" required>
          <div class="pop" *ngIf="ip.errors?.['required'] && ip.touched">Please enter image path</div>
        </div>
        <button type="submit" class="btn btn-secondary" [disabled]="regForm.invalid">Upload Artwork</button>
      </form>
    </div>
  </body>