
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 20px;
    }

    h2 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 10px;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f9f9f9;
        font-weight: bold;
        text-align: left;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:last-child td {
        border-bottom: none;
    }

    .glyphicon-trash {
        background: url('https://example.com/trash-icon.png') no-repeat center;
        width: 16px;
        height: 16px;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
    }

    .btn-primary {
        background-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0069d9;
    }

    .btn-primary:active {
        background-color: #0056b3;
    }

    .btn-primary:focus {
        outline: none;
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #007bff;
    }

    h3 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }