<h2 style="text-align: center;">My Cart</h2>
<div>
<table align="center" border="2">
    <tr>
        <th>Item Id</th>
      <!-- <th>Item Name</th>-->
        <th>Item Quantity</th>
        <th>Item Price</th>
   </tr>
    <tr *ngFor="let item of items">
        <td>{{item.product.id}}</td> 
        <!--<td>{{item.product.name}}</td> -->
        <td>{{item.quantity}}</td>
        <td>{{item.product.price}}</td>
        <!-- <td><button><div class="glyphicon glyphicon-trash"></div></button></td> -->
    </tr>
    </table>
    <button class="btn btn-primary" (click)="clearCart()" style="margin-left: 500px;">Clear Cart</button><br>
    <button class="btn btn-primary"*ngIf="user()|| admin()||artist() " (click)="payment()" style="margin-left: 500px;">Pay</button><br>
    <button class="btn btn-primary"*ngIf="!user() && !admin()&&!artist()" (click)="pay()" style="margin-left: 500px;">Pay</button><br>
    <!-- <a class="nav-link" *ngIf="!user() && !admin()&&!artist()" routerLink="login" >Login</a>
  <a class="nav-link" *ngIf="user()|| admin()||artist() " (click)="logout()" href="#sectionDelivery"
  >Logout</a> -->

    <h3 style="text-align: center;">Total Bill Amount: {{ TotalBillAmount() }}</h3>
</div>