body {
    background-image: url('../../assets/images/img47.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
  }
  .registration-form {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .registration-form h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  .form-group {
    margin-bottom: 5px;
  }
  label {
    display: block;
    margin-bottom:px;
  }
  .form-control {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
  }
  .password-container {
    position: relative;
  }
  .toggle-password {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #0069d9;
  }
  .sub_title_5 {
    text-align: center;
    font-size: 15px;
    color: #606770;
    padding-top: 9px;
  }
  