<div class="container">
  <div class="modal fade" id="userModel">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <span class="close" data-dismiss="modal">&times;</span>
                  <h4 class="modal-title">Update Form</h4>
              </div>
              <div class="modal-body">
                  <form class="form-group">
                      Enter Id: <input type="number" name="id" [(ngModel)]="editObject.id"
                          class="form-control"><br />
                      First Name: <input type="text" name="firstName" [(ngModel)]="editObject.firstName"
                          class="form-control"><br />
                      Last Name: <input type="text" name="lastName" [(ngModel)]="editObject.lastName"
                          class="form-control"><br />
                      Email: <input type="text" name="email" [(ngModel)]="editObject.email"
                          class="form-control"><br />
                      Password: <input type="text" name="password" [(ngModel)]="editObject.password"
                          class="form-control"><br />
                  </form>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary btn-sm" (click)="userUpdate()" data-dismiss="modal">Update</button>
              </div>
          </div>
      </div>
  </div>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th scope="col">firstName</th>
      <th scope="col">lastName</th>
      <th scope="col">Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people">
      <td>{{person.id}}</td>
      <td>{{ person.firstName }}</td>
      <td>{{ person.lastName }}</td>
      <td>{{ person.email }}</td>
      <td><button (click)="editUser(person)">edit</button>&nbsp;
      <button (click)="deleteUser(person)">Delete

      </button></td>
    </tr>
  </tbody>
</table>

<div class="container">
  <div class="modal fade" id="userModel">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <span class="close" data-dismiss="modal">&times;</span>
                  <h4 class="modal-title">Update Form</h4>
              </div>
              <div class="modal-body">
                  <form class="form-group">
                      Enter Id: <input type="number" name="id" [(ngModel)]="editObject.id"
                          class="form-control"><br />
                      First Name: <input type="text" name="firstName" [(ngModel)]="editObject.firstName"
                          class="form-control"><br />
                      Last Name: <input type="text" name="lastName" [(ngModel)]="editObject.lastName"
                          class="form-control"><br />
                      Email: <input type="text" name="email" [(ngModel)]="editObject.email"
                          class="form-control"><br />
                      Password: <input type="text" name="password" [(ngModel)]="editObject.password"
                          class="form-control"><br />
                  </form>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary btn-sm" (click)="userUpdate()" data-dismiss="modal">Update</button>
              </div>
          </div>
      </div>
  </div>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th scope="col">firstName</th>
      <th scope="col">lastName</th>
      <th scope="col">Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let artists of artist">
      <td>{{artists.id}}</td>
      <td>{{ artists.firstName }}</td>
      <td>{{ artists.lastName }}</td>
      <td>{{ artists.email }}</td>
      <td><button (click)="editUser(artists)">edit</button>&nbsp;
      <button (click)="deleteUser(artists)">Delete

      </button></td>
    </tr>
  </tbody>
</table>


<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let painting of approvepaintings">
      <br>
      <div class="card">
        <img class="card-img-top img-fluid" [src]="painting.imagePath" alt="Painting Image">
        <br>
        <div class="content">
          <div class="card-content">
            <div class="left-column">
              <h6>{{painting.artistName}}</h6>
              <h6>{{painting.artType}}</h6>
              <h6>{{painting.dimensions}}</h6>
            </div>
            <div class="right-column">
              <h5>{{painting.price}}</h5>
              <button (click)="registerApprove(painting)"[(ngModel)]="email" class="btn btn-primary">Approve</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  