<!-- <footer>
    <div class="footer">
             <div class="col-3" >
                <h1>Quick links</h1>
                <ul>
                    <li>Help Center</li>
                    <li>Track your order</li>
                    <li>Join our community</li>
                    <li>Reviews</li>
                    <li>My account</li>
                  </ul>
            
            </div>
        
            <div class="col-3">
                <h1>Info</h1>
                <ul>
                <li>About Us</li>
                    <li>Safe Shopping</li>
                    <li>Payment & Returns</li>
                    <li>Privacy Policy</li>
                    <li>Terms & Conditions</li> 
                  </ul>
            </div>
        
            <div class="col-3">
                <h1>Customer Service</h1>
                <ul>
                    <li>Feedback</li>
                    <li>Our Commitment</li>
                  </ul>
            </div>
    
            <div class="col-3">
                <h1>Get in touch</h1>
                <ul>
                    <li>+919908501722</li>
                    <li>+918790507410</li>
                    <li>Email: customerservice@artgallery.com</li>
                  </ul>
            </div>
            <br>
    
            <ul class="icons" style="padding-left: 1300px;">
                <li><a href="#" target="_blank"></a><i class="fa-brands fa-whatsapp"></i></li>
                <li><i  style=" width: auto;" class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-linkedin"></i></li>
            </ul>
        </div>
        </footer> -->

    <footer>
        <div class="footer-top" style="background-image: url('../../assets/footer.jpg');">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <img src="../../assets/logo2.jpg.jpeg" alt="Company Logo" class="logo">
              </div>
              <div class="col-md-3 col-sm-6">
                <h4>Contact Us</h4>
                <p>Email: info@evergreenarts.com<br>
                   Phone No.:+91 7876546789</p>
              </div>
              <div class="col-md-3 col-sm-6">
                <h4>Quick Links</h4>
                <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="privacyandpolices">Privacy&Polices</a></li>
                  <li><a href="termsandc">Terms&Conditons</a></li>
                  
                </ul>
              </div>
              <div class="col-md-3 col-sm-6">
                <h4>Follow Us</h4>
                <ul class="list-unstyled list-inline social-media">
                  <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="https://in.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p>© 2023 EvergreenArts🖌️. All Rights Reserved.</p>
              </div>
            </div>
          </div>
       
      