/* .footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:antiquewhite;

}
.TS{
    padding: 50px;
    column-rule-color: greenyellow;
}
.icons li{
    font-size: 50px;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    margin-left: 10px;
    margin-top: 0%;
}
p{
    color: white;
}

.TS li{
    list-style: none;
    font-size: 20px;
    padding-top: 20px;
    
    color:black;
}

h1{
    margin-left: 25px;
    text-decoration-line: underline;
} */

footer {
    background-color: transparent;
    color: #050505;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
  }
  
  .footer-top {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .logo {
    height: 50px;
  }
  
  h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: #090909;
  }
  
  .social-media li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-media li a {
    color: #0d0d0d;
  }
  
  .social-media li a:hover {
    color: #0d0d0d;
  }
  
  .footer-bottom {
    background-color: #222;
    color: #fcf9f9;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
  }
  
  .footer-bottom p {
    margin-bottom: 0;
  }
  