<!-- <section class="about">
    <div class="main">
        <img src="assets/images3/img48.jpg">
        <div class="about-text">
            <h1>About Us</h1>
            <p>
                Art Gallery is essentially ‘artist owned’. Run by us for artists.
                    Historically, it is very difficult as an artist to promote your artwork. 
                    Hiring expensive galleries and paying extortionate fees. 
                Art Gallery allows exposure for the artists and the customer buys it from the artist.<br><br>
                Artists register and upload their works of art to the site and once a customer purchases the artwork, ships it. 
                We are sure you will enjoy your experience on Art Gallery – as a customer and artist. 
                    Thanks to the internet, art has become more accessible to everyone and is no longer the preserve of an elite. 
                    If a painting or sculpture speaks to you then go ahead and buy it! You don’t need someone telling you whether it’s art or not.
                    We provide highly detailed images of paintings so you can meditate on them before you buy.
                    Why go for a print or reproduction that is hanging on the walls of thousands of homes when you can have a unique, 
                    original piece that speaks to you and you alone?<br><br>
                    So, if you are looking for a place to buy original art by professionals you’ve found it.
                    And if you are an artist looking for a place to sell your wares, join our community of creators and get selling today.

                </p>
        </div>
    </div>
</section> -->

<body><div class="section-container">
    <div class="columns image" style="background-image: url('assets/aboutus1.jpeg')">
        
    </div>
    <div class="columns content">
        <div class="content-container">
            <h5>About us</h5>
            <p> Rs of 500 and 1000 Note Ban: Benefits & Drawbacks

                During the British East India Company i.e. 1600, 
                The Mughal currency remained popular but in 1717 AD, Farrukh Siyar the Mughal Emperor
                gave permission to the Britishers or the English to coin Mughal money at the Bombay mint. 
                Then British gold coins were termed as Carolina, the silver coins as Angelina, 
                the copper coins as cupperoon and the tin coins as tinny.<br><br>
                In the honour of Queen Victoria in 1862, series of bank notes and coins were issued with the Victoria portrait.
                Finally, the Reserve Bank of India was set up in 1935 and empowered to issue Government of India notes. 
                It had also printed 10,000 rupee notes and was later demonetised after Independence. 
                And the first paper currency issued by RBI was a 5 rupee note bearing King George VI’s portrait, in January 1938.
                <br><br>
                In October 1997, Rs 500 was issued at which front image is of Mahatma Gandhi and at reverse of it was the image which represents the Dandi March 
                i.e. Salt Satyagraha which was considered as the wider Civil Disobedience Movement launched by Gandhi Ji on 12 March, 1930 against the British salt domination in India. </p>
        </div>
    </div>
    
</div>

<div class="section-container">
    <div class="columns content">
        <div class="content-container">
            
            <p> In which Gandhi Ji and his followers will marched from his Sabarmati Ashram near Ahmedabad to the Dandi, 
                a coastal village in Navsari dist Gujarat and prepared salt without paying tax to the British Government. 
                In this way Salt law was broken by Gandhi on 5th April 1930.
                The design of banknotes is approved by the central government, on the recommendation of the central board of the Reserve Bank of India.[6] <br><br>
                The denomination of the Indian rupee is being withdrawn from circulation[1] from 30 September 2023 but will continue to be legal tender.
                 <br><br>
                 The Reserve Bank of India (RBI), introduced the 2000 rupee note on November 8, 2016. 
                 The introduction of this high-value note was part of the government's demonetization exercise aimed at curbing corruption, 
                 black money, and counterfeit currency. On the same day, the Indian government announced the demonetization of the existing 500 rupee and 1000 rupee notes. 
                 The intention behind demonetization was to invalidate the old notes to disrupt illegal activities and promote a shift towards digital transactions.<br><br>
                 Initially, the circulation of the 2000 rupee note was limited due to the demonetization exercise and the subsequent 
                 re-calibration of ATMs and cash distribution systems. However, as the process unfolded, the note became more widely available for circulation.</p>
        </div>
    </div>
    <div class="columns image" style="background-image: url('assets/aboutus2.jpeg')">
   </div>
</div>
</body>