/* .about img{
    float:left;
    margin-left: 30px;
    height:500px;
    width:700px;
    margin-top: 10px;
    border-radius: 50px;
}
.about-text{
    width:550px;
    margin-left: 50px;
    margin-top: 50px;
}
.main{
    display:flex;
} */
body{
    overflow-x: hidden;
   
    font-size: 50px;
}
.section-container{
    --bs-gutter-x:1.5rem;
    --bs-gutter-y:0;
    display:flex;
    flex-wrap:wrap;
    margin-top:calc(var(--bs-gutter-y)* -1) ;
    margin-right:calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}
.section-container .columns{
    flex:0 0 auto;
    width:50%;
}
.section-container .columns.image{
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin-bottom: 10px;
}
.section-container .columns.content .content-container{
    padding:40px 50px;
}
.section-container .columns.content .content-container h5{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
    
    font-family: 'Times New Roman', Times, serif;
}
.section-container .columns.content .content-container p{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    margin-bottom: 16px;
    text-align: justify;
    
}