<div class="container">
    <h2 class="mt-5 mb-4"> Checkout </h2>
    <div class="col-md-5 mb-2">
      <button (click)="makePayment()" class="btn btn-danger btn-block">Pay Total</button>
    </div>
   <!-- <div class="col-md-5 mb-2">
      <button (click)="makePayment(25)" class="btn btn-primary btn-block">Pay $25</button>
    </div>
    <div class="col-md-5">
      <button (click)="makePayment(35)" class="btn btn-success btn-block">Pay $35</button>
    </div>-->
  </div>