<div>
    <header>
      <h1>Privacy&Policy for EvergreenArts🖌️</h1>
    </header>
    <main>
      <hr>
      <h2>Information Collection</h2>
      <p>We collect personal information when you visit our gallery, sign up for our newsletter, make a purchase, or contact us for any reason. The information we collect may include your name, email address, mailing address, phone number, and payment information.</p>
      <h2>Use of Information</h2>
      <p>We use the information we collect to provide you with the services and products you have requested, to send you information about upcoming exhibitions and events, and to improve our website and customer service. We may also use your information to contact you about your purchases, respond to your inquiries, and fulfill our legal obligations.</p>
      <h2>Protection of Information</h2>
      <p>We take appropriate measures to protect the personal information we collect. We use secure servers, firewalls, and encryption technology to safeguard your information from unauthorized access, disclosure, or alteration. We also restrict access to your personal information to employees who need it to perform their jobs.</p>
      <h2>Disclosure of Information</h2>
      <p>We do not sell or rent your personal information to third parties. However, we may disclose your information to our service providers who assist us in operating our business, such as payment processors and shipping companies. We may also disclose your information in response to a legal request, such as a subpoena or court order.</p>
      <h2>Cookies and Tracking</h2>
      <p>We use cookies and other tracking technologies to enhance your experience on our website, analyze usage patterns, and provide relevant advertising. You can control cookies through your browser settings, but disabling cookies may affect your ability to use some features of our website.</p>
      <h2>Children's Privacy</h2>
      <p>Our website is not intended for children under the age of 13, and we do not knowingly collect personal information from children. If we become aware that we have inadvertently collected personal information from a child under the age of 13, we will delete that information from our records.</p>
      <h2>Changes to this Policy</h2>
      <p>We may update this Privacy Policy from time to time, and the new version will be posted on our website. We encourage you to review this Policy periodically to stay informed of our information practices.</p>
      <h2>Contact Us</h2>
      <p>If you have any questions or concerns about this Privacy Policy or our information practices, please contact us at [contact information].</p>
    </main>
    <footer>
      <p>&copy; 2023 Art Gallery Name. All rights reserved.</p>
    </footer>
   </div>