body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h1 {
	font-size: 25px;
	margin: 0 0 20px 0;
	color: black;
}

h2 {
	font-size: 15px;
	margin: 30px 0 10px 0;
	color: black;
    
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin: 0 0 20px 0;
	color: #666;
}

.small {
	font-size: 12px;
	color: #666;
	margin: 0 0 10px 0;
   
}
div {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h1 {
	font-size: 36px;
	margin: 0 0 20px 0;
	color: black;
}

h2 {
	font-size: 15px;
	margin: 30px 0 10px 0;
	color: black;
    
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin: 0 0 20px 0;
	color: #666;
}

.small {
	font-size: 12px;
	color: #666;
	margin: 0 0 10px 0;
   
}
div {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }