/*.card {
  width: 500px;
  border: 1px solid #ccc;
  height:400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  pointer-events: none;
  justify-content: space-between;
  margin-left: 70px;
  border-color: black;
  margin-bottom: 50px;
  
}

.card-body {
  padding: 1.25rem;
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card .buy-now {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fff;
  color: #000000;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  pointer-events: auto;
 
}

.card .buy-now:hover {
  background-color: #849696;
}
.card img{
  width:500px;
  height:400px;
}
h1{
  text-align: center;
}*/

body{
  margin:0;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 50px;
  margin-right: 50px;
}
.section img{

  border-style: groove;
  padding: 10px;


}
.section{
  display:flex;
  justify-content: space-between;
  padding:30px;
}
p{
  font-size: 1.3rem;
}