<!--<div class="container"><h1>Gallery Services We Offer </h1>
  <div class = "row gy-3 my-3">
    <div class=" col-lg-6">
      <div class="card" >
          <img src="assets/images/office.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <div class="buy-now">Art For Offices</div>  
          </div>
        </div>
     </div>
     <div class=" col-lg-6">
      <div class="card" >
          <img src="assets/images/home.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <div class="buy-now">Art For Home</div>  
          </div>
        </div>
     </div>
     
     <div class=" col-lg-6">
      <div class="card" >
          <img src="assets/images/gift.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <div class="buy-now">Art For Gifting </div>  
          </div>
        </div>
     </div>
     <div class=" col-lg-6">
      <div class="card" >
          <img src="assets/images/rent.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <div class="buy-now">Art For Rent</div>  
          </div>
        </div>
     </div>
  </div>-->
  <body>
    <div class="section">
      <div class="text">
        <h2>Art for Office</h2><br>
        <p>
          In March 1997, Rs 50 was issued consisting of Mahatma Gandhi image at front of it and at reverse Indian Parliament.<br>
          These coins have irregular shapes, standard weight and are made up of silver with different markings like Saurashtra had a humped bull, <br>Dakshin Panchala had a Swastika and Magadha had several symbols.<br>
  
  
        - The issuance of the currency is controlled by the Reserve Bank of India.<br>
  
        -The Reserve Bank manages currency in India and derives its role in currency management on the basis of the Reserve Bank of India Act, 1934.<br>
  
        - The Indian rupee (symbol ₹; code: INR) is the official currency in the Republic of India.
        </p>
      </div>
      <img src="assets/image50.jpg" style="width:400px;height:300px">
    </div>
    <div class="section">
      <img src="assets/image100.jpg" style=" width:1000px;height:300px">
      <div class="text">
        <h2 style="text-align:right">Art for Home</h2><br>
        <p style="text-align: right;">
          In June 1996, Rs 100 was issued with front image of Mahatma Gandhi and at reverse 
          of it represents Himalaya Mountains.
          <br>
          In the 18th Century, the Bank of Hindostan General Bank in Bengal and the Bengal Bank became the first banks in India to issue paper currency 
          i.e. during this time paper money was first issued in British India
        </p>
      </div>
      </div>
      <div class="section">
        <div class="text">
          <h2>Art for Gifting</h2><br>
          <p>
            Always we see the picture of smiling Mahatma Gandhi on our notes which remains same on currency notes.<br>
  
            Some says that Picture of Mahatma Gandhi is a drawn caricature but this is not true.<br>
            
            Actually in reality this picture was taken by an unknown photographer
            <br>
            in 1946 and from there it is cropped and used everywhere.
          </p>
        </div>
        <img src="assets/image20.jpg" style="width:500px;height:300px">
      </div>
    </body>