<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let painting of datapaintings">
      <br>
      <div class="card">
        <img class="card-img-top img-fluid" [src]="painting.imagePath" alt="Painting Image">
        <br>
        <div class="content">
          <div class="card-content">
            <div class="left-column">
              <h6>{{painting.artistName}}</h6>
              <h6>{{painting.artType}}</h6>
              <h6>{{painting.dimensions}}</h6>
            </div>
            <div class="right-column">
              <h5>₹{{painting.price}}</h5>
              <button (click)="addToCart(painting,1)" class="btn btn-primary">Add to Cart</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- <div class="container">
    <div class="row" >
      <div class="col-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let gallery of gallery"><br>
        <div class="card" >
          <img class="card-img-top img-fluid" [src]="gallery.imagePath" alt="Painting Image">
          <br>
          <div class="content">
            <div class="card-content">
                <div class="left-column">
                  <h6>{{gallery.name}}</h6>
                  <h6>{{gallery.description}}</h6>
                  <h6>{{gallery.size}}</h6>
                </div>
                <div class="right-column">
                  <h5>{{gallery.price}}</h5>
                  <button type="button" class="btn btn-primary">Add to Cart</button>
                </div>
              </div> -->